{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{%  load staticfiles %}
{%  load humanize %}
{% load bootstrap_pagination %}


{% block content %}
<div class="container">
    {% for account in object_list %}
    <div class="row">
        <div class="col-md-1">
            {% if account.profile_image %}
            {% thumbnail account.profile_image "50x50" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"><br>
            {% endthumbnail %}
            {% else %}
                <img src="{% static "account/nophoto.jpg" %}" width="50" height="50"><br>
            {% endif %}
        </div>
        <div class="col-md-11">
            <p>My name is <a href="{% url 'accounts_detail' account.slug %}">{{ account.screen_name }}</a><br>
            {{ account.about_me|truncatewords:50 }}<br>
            {{ account.last_login|naturalday:"d F Y" }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
{% endblock %} }}