{% extends 'base.html' %}
{% block content %}
    <h1>SERPIA</h1>
    <p class="lead">Django webdevelopment since 2007<br>The Netherlands +31(0)6 488 69870</p>
    <ul class="list-group">
        <li class="list-group-item">Reportlab</li>
        <li class="list-group-item">Tastypie</li>
        <li class="list-group-item">GeoDjango</li>
        <li class="list-group-item">Heroku</li>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Git</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">PostgreSQL</li>
        <li class="list-group-item">Socialauth</li>
        <li class="list-group-item">Webservices</li>
        <li class="list-group-item">Amazon S3</li>
        <li class="list-group-item">Unit testing</li>
    </ul>
{% endblock content %}
